<div class="container m-auto py-4 pl-14 pr-2 md:px-5">
  <form (ngSubmit)="save()">
    <div class="flex justify-between md:justify-end gap-2">
      <button class="button danger" [disabled]="isRegistering">Deletar</button>
      <button class="button" [disabled]="isRegistering">Editar</button>
      <button class="button" type="submit">Salvar</button>
    </div>

    <h3 class="text-xl font-bold my-2">Informações Pessoais</h3>
    <div class="md:flex gap-2">
      <div class="input-wrapper md:w-6/12 lg:w-7/12">
        <label for="name">Nome Completo</label>
        <input class="input-field" type="text" name="name" id="name" />
      </div>
      <div class="input-wrapper md:w-3/12">
        <label for="gender">Gênero</label>
        <select class="input-field" name="gender" id="gender">
          <option disabled selected></option>
          <option value="male">Masculino</option>
          <option value="female">Feminino</option>
        </select>
      </div>
      <div class="input-wrapper md:w-3/12 lg:w-2/12">
        <label for="birthdate">Data de Nascimento</label>
        <input
          class="input-field"
          type="text"
          name="birthdate"
          id="birthdate"
        />
      </div>
    </div>
    <div class="md:flex gap-2">
      <div class="input-wrapper md:w-4/12">
        <label for="cpf">CPF</label>
        <input class="input-field" type="text" name="cpf" id="cpf" />
      </div>
      <div class="input-wrapper md:w-4/12">
        <label for="rg">RG</label>
        <input class="input-field" type="text" name="rg" id="rg" />
      </div>
      <div class="input-wrapper md:w-4/12">
        <label for="civilState">Estado Civil</label>
        <select class="input-field" name="civilState" id="civilState">
          <option disabled selected></option>
          <option value="single">Solteiro</option>
          <option value="married">Casado</option>
        </select>
      </div>
    </div>
    <div class="md:flex gap-2">
      <div class="input-wrapper md:w-4/12">
        <label for="telephone">Telefone</label>
        <input class="input-field" type="tel" name="telephone" id="telephone" />
      </div>
      <div class="input-wrapper md:w-4/12">
        <label for="email">E-mail</label>
        <input class="input-field" type="email" name="email" id="email" />
      </div>
      <div class="input-wrapper md:w-4/12">
        <label for="placeOfBirth">Naturalidade</label>
        <input
          class="input-field"
          type="text"
          name="placeOfBirth"
          id="placeOfBirth"
        />
      </div>
    </div>

    <h3 class="text-xl font-bold my-2">Informações de Saúde</h3>
    <div class="lg:flex gap-2">
      <div class="md:flex lg:w-6/12 gap-2">
        <div class="input-wrapper md:w-1/2">
          <label for="emergencyTelephone">Telefone de Emergência</label>
          <input
            class="input-field"
            type="tel"
            name="emergencyTelephone"
            id="emergencyTelephone"
          />
        </div>
        <div class="input-wrapper md:w-1/2">
          <label for="healthPlan">Convênio</label>
          <input
            class="input-field"
            type="text"
            name="healthPlan"
            id="healthPlan"
          />
        </div>
      </div>
      <div class="md:flex lg:w-6/12 gap-2">
        <div class="input-wrapper md:w-1/2">
          <label for="healthPlanNumber">Número do Convênio</label>
          <input
            class="input-field"
            type="text"
            name="healthPlanNumber"
            id="healthPlanNumber"
          />
        </div>
        <div class="input-wrapper md:w-1/2">
          <label for="healthPlanEndDate">Validade do Convênio</label>
          <input
            class="input-field"
            type="text"
            name="healthPlanEndDate"
            id="healthPlanEndDate"
          />
        </div>
      </div>
    </div>
    <div class="input-wrapper">
      <label for="allergies">Lista de Alergias</label>
      <textarea class="input-field" name="allergies" id="allergies"></textarea>
    </div>
    <div class="input-wrapper">
      <label for="specialCare">Lista de Cuidados Especiais</label>
      <textarea
        class="input-field"
        name="specialCare"
        id="specialCare"
      ></textarea>
    </div>

    <h3 class="text-xl font-bold my-2">Informações de Endereço</h3>
    <div class="lg:flex gap-2">
      <div class="md:flex lg:w-6/12 gap-2">
        <div class="input-wrapper md:w-1/2">
          <label for="cep">CEP</label>
          <input class="input-field" type="text" name="cep" id="cep" />
        </div>
        <div class="input-wrapper md:w-1/2">
          <label for="district">Bairro</label>
          <input
            class="input-field"
            type="text"
            name="district"
            id="district"
          />
        </div>
      </div>
      <div class="md:flex lg:w-6/12 gap-2">
        <div class="input-wrapper md:w-1/2">
          <label for="city">Cidade</label>
          <input class="input-field" type="text" name="city" id="city" />
        </div>
        <div class="input-wrapper md:w-1/2">
          <label for="state">Estado</label>
          <input class="input-field" type="text" name="state" id="state" />
        </div>
      </div>
    </div>
    <div class="input-wrapper">
      <label for="address">Logradouro</label>
      <input class="input-field" type="text" name="address" id="address" />
    </div>
    <div class="input-wrapper">
      <label for="address2">Complemento</label>
      <input class="input-field" type="text" name="address2" id="address2" />
    </div>
    <div class="input-wrapper">
      <label for="reference">Ponto de Referência</label>
      <input class="input-field" type="text" name="reference" id="reference" />
    </div>
  </form>
</div>
