<div
  class="border shadow-md bg-green-700 text-zinc-100 flex rounded px-4 md:px-2 pt-2 pb-3"
>
  <i class="bi bi-file-person-fill hidden md:block text-5xl md:text-9xl"></i>
  <div class="flex flex-grow justify-between gap-4">
    <div class="flex flex-col justify-between">
      <h4 class="text-xl md:text-2xl font-medium">
        {{ patient?.healthPlan ? patient?.healthPlan : "" }}
      </h4>
      <div>
        <h4 class="md:text-lg font-bold">
          {{ patient!.telephone | mask : "(00) 0 0000-0000" }}
        </h4>
        <h2 class="text-xl md:text-2xl font-bold">{{ patient?.fullname }}</h2>
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:w-3/5 justify-end gap-2 md:gap-6">
      <div class="w-2/5">
        <h5 class="font-medium">Alergias:</h5>
        <p>{{ patient?.allergies ? patient?.allergies : "Nenhuma" }}</p>
      </div>
      <div class="w-2/5">
        <h5 class="font-medium">Cuidados específicos:</h5>
        <p>
          {{ patient?.specialCare ? patient?.specialCare : "Nenhum" }}
        </p>
      </div>
    </div>
  </div>
</div>
