<div class="md:flex h-screen relative">
  <div class="image-section">
    <img
      src="../../../assets/imgs/login.jpg"
      alt="Imagem"
      class="hero-img"
    />
  </div>
  <div
    class="login-section"
  >
    <form
      class="form"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <input-control *ngFor="let field of formFields" [field]="field" [formControlName]="field.id"></input-control>
      <button
        type="submit"
        class="button-fill"
      >
        Fazer Login
      </button>
    </form>
    <div class="w-full px-4 md:w-2/3">
      <button
        type="button"
        class="button"
        (click)="register = true"
      >
        Criar Conta
      </button>
    </div>
    <register *ngIf="register" (closeRegister)="register = false"/>
  </div>
</div>
