<div class="container py-4 px-6">
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-bold text-zinc-600">Estatísticas</h2>
    <div class="flex w-full gap-2">
        <stats-card class="flex-grow" [icon]="'bi-person-badge-fill'" [text]="'Título'" [value]="'100'" />
        <stats-card class="flex-grow" [icon]="'bi-person-badge-fill'" [text]="'Título'" [value]="'100'" />
        <stats-card class="flex-grow" [icon]="'bi-person-badge-fill'" [text]="'Título'" [value]="'100'" />
        <stats-card class="flex-grow" [icon]="'bi-person-badge-fill'" [text]="'Título'" [value]="'100'" />
    </div>
</div>
  <hr class="my-4" />
  <div>
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold text-zinc-600">Pacientes</h2>
      <search-input class="w-1/5"></search-input>
    </div>
    <patient-card />
    <patient-card />
    <patient-card />
    <patient-card />
  </div>
</div>
