.danger {
  @apply bg-red-600 text-zinc-100;
}

.success {
  @apply bg-green-400 text-zinc-900;
}

.toast {
  @apply bg-zinc-100 text-zinc-900 border border-zinc-300 rounded px-4 py-3 w-fit fixed bottom-3 right-4 z-50;
  animation: slide 6s ease-in-out;
  transform: translateX(120%);
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(120%);
  }
  10%,
  90% {
    transform: translateX(0);
  }
}
