<div
  [ngClass]="{
    'translate-x-0': showing,
    'translate-x-full': !showing
  }"
  class="register-section"
>
  <div class="close-btn-wrapper">
    <button (click)="goToLogin()" class="flex items-center">
      <i class="bi bi-x hidden md:inline text-4xl text-zinc-100"></i>
      <i
        class="bi bi-chevron-double-right md:hidden ml-3 text-xl text-zinc-100"
      ></i>
    </button>
  </div>
  <div class="form-wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
      <input-control
        *ngFor="let field of formFields"
        [field]="field"
        [formControlName]="field.id"
        [form]="registerForm"
        [submitted]="submitted"
      ></input-control>
      <button type="submit" class="button mt-2">Cadastrar</button>
    </form>
  </div>
</div>
