<div
  [ngClass]="{
    'translate-x-0': showing,
    'translate-x-full': !showing
  }"
  class="absolute bg-green-700 inset-0 transition-all duration-700 flex flex-col justify-center"
>
  <button (click)="goToLogin()" class="absolute top-2 right-2">
    <i class="bi bi-x text-4xl text-zinc-100"></i>
  </button>
  <div class="flex flex-col items-center overflow-auto">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="flex flex-col gap-2 w-full p-4 md:w-2/3 lg:1/2 pr-12 mt-4 md:p-0"
    >
      <div class="flex flex-col">
        <label for="email" class="text-zinc-100">E-mail:</label>
        <input
          id="email"
          name="email"
          type="text"
          class="w-full px-4 py-3 border4 border-zinc-300 rounded outline-green-700"
          formControlName="email"
        />
        <div *ngIf="email?.invalid && submitted">
          <span
            *ngIf="email?.errors?.['required'] else error"
            class="font-semibold text-sm"
            >Campo obrigatório</span
          >
          <ng-template #error>
            <span *ngIf="email?.errors?.['email']" class="font-semibold text-sm"
              >E-mail inválido.</span
            >
          </ng-template>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="w-full flex justify-between">
          <label for="password" class="text-zinc-100">Senha:</label>
        </div>
        <input
          id="password"
          name="password"
          type="password"
          class="flex-grow px-4 py-3 border border-zinc-300 rounded outline-green-700"
          formControlName="password"
        />
        <div *ngIf="password?.invalid && submitted">
          <span
            *ngIf="password?.errors?.['required'] else error"
            class="font-semibold text-sm"
            >Campo obrigatório</span
          >
          <ng-template #error>
            <span
              *ngIf="password?.errors?.['minlength']"
              class="font-semibold text-sm"
              >Necessário 10 caracteres ou mais.</span
            >
          </ng-template>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="w-full flex justify-between">
          <label for="confirm" class="text-zinc-100">Cofirmar senha:</label>
        </div>
        <input
          id="confirm"
          name="confirm"
          type="password"
          class="flex-grow px-4 py-3 border border-zinc-300 rounded outline-green-700"
          formControlName="confirm"
        />
        <div *ngIf="confirm?.invalid && submitted">
          <span
            *ngIf="confirm?.errors?.['required'] else error"
            class="font-semibold text-sm"
            >Campo obrigatório</span
          >
          <ng-template #error>
            <span
              *ngIf="confirm?.errors?.['teste']"
              class="font-semibold text-sm"
              >Senha diferente</span
            >
          </ng-template>
        </div>
      </div>
      <button
        type="submit"
        class="w-full bg-zinc-100 hover:bg-zinc-200 text-zinc-950 p-4 rounded mt-2 transition-all"
      >
        Cadastrar
      </button>
    </form>
  </div>
</div>
