<div class="container m-auto py-4 pl-14 pr-2 md:px-5">
  <form [formGroup]="medicineForm">
    <form-management-btns
      (deleteEmitter)="deleteAppointment()"
      (saveEmitter)="save()"
      [isRegistering]="isRegistering"
    ></form-management-btns>

    <h3 class="text-xl font-bold my-2">Informações Pessoais</h3>
    <div class="md:flex gap-2">
      <div class="input-wrapper md:w-8/12">
        <label for="name"
          >Nome do Medicamento<span
            *ngIf="submitted && medicineForm.controls.name.errors?.['errorMsg']"
            class="text-red-500 font-bold"
            [title]="medicineForm.controls.name.getError('errorMsg')"
            >*</span
          ></label
        >
        <input
          class="input-field"
          type="text"
          name="name"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="input-wrapper md:w-2/12">
        <label for="date"
          >Data<span
            *ngIf="submitted && medicineForm.controls.date.errors?.['errorMsg']"
            class="text-red-500 font-bold"
            [title]="medicineForm.controls.date.getError('errorMsg')"
            >*</span
          ></label
        >
        <input
          class="input-field"
          type="date"
          name="date"
          id="date"
          formControlName="date"
        />
      </div>
      <div class="input-wrapper md:w-2/12">
        <label for="time"
          >Horário<span
            *ngIf="submitted && medicineForm.controls.time.errors?.['errorMsg']"
            class="text-red-500 font-bold"
            [title]="medicineForm.controls.time.getError('errorMsg')"
            >*</span
          ></label
        >
        <input
          class="input-field"
          type="text"
          name="time"
          id="time"
          formControlName="time"
          [mask]="masks.time"
          [leadZeroDateTime]="true"
        />
      </div>
    </div>
    <div class="md:flex gap-2 w-full">
      <div class="input-wrapper md:w-4/12">
        <label for="type"
          >Tipo<span
            *ngIf="submitted && medicineForm.controls.type.errors?.['errorMsg']"
            class="font-bold text-red-500"
            [title]="medicineForm.controls.type.getError('errorMsg')"
            >*</span
          ></label
        >
        <select
          class="input-field"
          name="type"
          id="type"
          formControlName="type"
        >
          <option disabled selected></option>
          <option *ngFor="let type of medicineTypes" [value]="type">
            {{ medicineTypesTexts[type] }}
          </option>
        </select>
      </div>
      <div class="input-wrapper md:w-4/12">
        <label for="amount"
          >Quantidade<span
            *ngIf="submitted && medicineForm.controls.amount.errors?.['errorMsg']"
            class="text-red-500 font-bold"
            [title]="medicineForm.controls.amount.getError('errorMsg')"
            >*</span
          ></label
        >
        <input
          class="input-field"
          type="number"
          name="amount"
          id="amount"
          step="0.25"
          formControlName="amount"
          (change)="updateAmountValue($event)"
        />
      </div>
      <div class="input-wrapper md:w-4/12">
        <label for="unit"
          >Unidade<span
            *ngIf="submitted && medicineForm.controls.unit.errors?.['errorMsg']"
            class="text-red-500 font-bold"
            [title]="medicineForm.controls.unit.getError('errorMsg')"
            >*</span
          ></label
        >
        <select
          class="input-field"
          name="unit"
          id="unit"
          formControlName="unit"
        >
          <option disabled selected></option>
          <option *ngFor="let unit of medicineUnits" value="{{ unit }}">
            {{ unit }}
          </option>
        </select>
      </div>
    </div>
    <div class="md:flex gap-2 w-full">
      <div class="input-wrapper w-full">
        <label for="observations"
          >Observações<span
            *ngIf="submitted && medicineForm.controls.observations.errors?.['errorMsg']"
            class="font-bold text-red-500"
            [title]="medicineForm.controls.observations.getError('errorMsg')"
            >*</span
          ></label
        >
        <textarea
          class="input-field"
          name="observations"
          id="observations"
          rows="10"
          formControlName="observations"
        ></textarea>
      </div>
    </div>
  </form>
</div>
