<div class="border shadow-md rounded p-4 flex w-full">
  <div class="flex-grow">
    <div class="flex gap-4">
      <h2 class="text-2xl font-medium">{{ medicine?.name }}</h2>
      <span class="text-2xl font-medium text-zinc-500"
        >{{ medicine?.date | date : "dd/MM/yy" }} - {{ medicine?.time }}
      </span>
    </div>
    <div class="flex gap-2">
      <p class="text-lg font-medium">{{ getMedicineType() }}</p>
      <span class="text-lg font-medium"
        >{{ medicine?.amount }} {{ medicine?.unit }}
      </span>
    </div>
    <div class="mt-4">
      <h5 class="text-lg font-medium">Observações:</h5>
      <p>{{ medicine?.observations }}</p>
    </div>
  </div>
  <button class="h-fit button flex gap-2">
    <i class="bi bi-pencil-square"></i>Editar
  </button>
</div>
